chainlit
fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary
asyncpg
SQLAlchemy
matplotlib
langchain
langchain-core
langchain-community
langchain-openai
langchain-mcp-adapters
dashscope
openai
pandas
numpy
requests
