/*滚动条样式*/
/* 滚动条整体 */
::-webkit-scrollbar {
    width: 8px;        /* 垂直滚动条宽度 */
    height: 8px;       /* 横向滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: rgba(0,88,147,0.4);
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: rgb(1, 56, 91);
    border-radius: 10px;
}

/*聊天框背景颜色*/
body{
    background-color: rgba(0,88,147,0.9) !important;
}

/*切换背景颜色按钮*/
#theme-toggle{
    display: none;
}

/*新建对话按钮*/
#new-chat-button,
/*说明按钮*/
#readme-button{
    color: #ffffff;
}

/*对话框*/
.ai-message .break-words{
    color: #ffffff;
}

/*底部提示语*/
.watermark .whitespace-pre-wrap{
    color: #ffffff;
}